@import "tailwindcss";

/* body {
  background-color: #f8fafc;
  font-family: 'Poppins', sans-serif;
} */

/* tailwind.css ya globals.css */
.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}
.reveal.show {
  opacity: 1;
  transform: translateY(0);
}


